@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  height: 100%;
}

body {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

/* TipTap placeholder */
.ProseMirror p.is-editor-empty:first-child::before {
  color: #9ca3af;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
